body { font-size: 100%; font-family: Helvetica; background-color: white; }

a { color: black; }

.main_menu ul { display: inline-block; list-style-type: none; font-size: 1.33em; }
.main_menu ul:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .main_menu ul { height: 1px; }
.main_menu li { float: left; padding-left: 1em; }
.main_menu a, .main_menu:visited { text-decoration: none; }

.content { font-size: 1em; width: 50em; line-height: 1.4em; margin-left: 1cm; }
.content p { margin: 1em; }
.content img { margin-left: 3em; }

.copyright { font-size: 0.6em; }
